name: Update client
on:
  schedule:
    - cron:  '0 10 * * 1'
  workflow_dispatch:
jobs:
  update-dep:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 22.x
      - run: npm ci
      - run: make fetch-openapi
      - run: make generate
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v8
        with:
          token: ${{ secrets.PAT }}
          commit-message: "chore: update client"
          title: Update client
          author: 'HumanitecBot <engine@humanitec.com>'
          body: |
            Re-generated the api-client based on the latest api schema.
          branch: update-client
